@using Capstone.Web.Models;
@model List<ParkModel>



@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "List of Parks";
    bool weather = (bool)Session["WantsC"];
}


@foreach (var item in Model)
{

    <div class="index-div">
        <div class="index-name">@item.ParkName,   @item.State</div>

        <a href="@Url.Action("Detail", "Home", new { parkCode = item.ParkCode, WantsC = weather} )"><img class="survey-image" src="@Url.Content("~/Content/img/" + item.ParkCode.ToLower() + ".jpg")" /></a>
    </div>

    <div class="index-text">@item.ParkDescription</div>

    <hr width="75%" />


}