@using Capstone.Web.Models;
@model SurveyModel

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<br />
<form action="@Url.Action("Survey","Home")" method="post">
    <div class="form-group">
        <label for="parkCode">Which park is your favorite?</label>
       @Html.DropDownList("parkCode", ViewBag.Parks as List<SelectListItem>, "Pick a park")
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress)
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State)
        @Html.ValidationMessageFor(m => m.State)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ActivityLevel)
        @Html.RadioButtonFor(m => m.ActivityLevel, "Inactive", false) Inactive
        @Html.RadioButtonFor(m => m.ActivityLevel, "Sedentary", false) Sedentary
        @Html.RadioButtonFor(m => m.ActivityLevel, "Active", false) Active
        @Html.RadioButtonFor(m => m.ActivityLevel, "Extremely Active", false) Extremely Active
        @Html.ValidationMessageFor(m => m.ActivityLevel)

    </div>
    <button class="btn-primary">Submit Survey</button>
</form>

