@using Capstone.Web.Models;
@model ParkModel

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="index-name">@Model.ParkName , @Model.State </div>
<img class="survey-image" src="@Url.Content("~/Content/img/" + Model.ParkCode.ToLower() + ".jpg")" />

<div class="detail-info">
    <div> Park Description: @Model.ParkDescription </div>
    <br />
    <div class="info-text">
        <div> Acreage: @Model.Acreage Square Miles</div>
        <div> Elevation: @Model.Elevation Feet </div>
        <div> Miles Of Trail: @Model.MilesOfTrail Miles</div>
        <div> Number Of Campsites: @Model.NumberOfCampsites </div>
        <div> Climate: @Model.Climate </div>
        <div> Year Founded: @Model.YearFounded </div>
        <div> Annual Visitor Count: @Model.AnnualVisitorCount people </div>
        <div> Entry Fee: $@Model.EntryFee</div>
        <div> Number Of Animal Species: @Model.NumberOfAnimalSpecies </div>
    </div>
    <br />
    <div class="italic">"@Model.InspirationalQuote" </div>
    <div class="italic"> -  @Model.InspirationalQuoteSource </div>


</div>

