@using Capstone.Web.Models;
@model ParkModel

@{
    Layout = "~/Shared/_LayoutPage1.cshtml";
}


<img src="@Url.Content("~/Content/img/" + Model.ParkCode.ToLower() + ".jpg")" />
<div>@Model.ParkCode </div>
<div>@Model.ParkName  </div>
<div>@Model.State </div>
<div>@Model.Acreage </div>
<div>@Model.Elevation </div>
<div>@Model.MilesOfTrail </div>
<div>@Model.NumberOfCampsites </div>
<div>@Model.Climate </div>
<div>@Model.YearFounded </div>
<div>@Model.AnnualVisitorCount </div>
<div>@Model.InspirationalQuote </div>
<div>@Model.InspirationalQuoteSource </div>
<div>@Model.ParkDescription </div>
<div>@Model.EntryFee</div>
<div>@Model.NumberOfAnimalSpecies </div>