@using Capstone.Web.Models;
@model ParkModel

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<img src="@Url.Content("~/Content/img/" + Model.ParkCode.ToLower() + ".jpg")" />
<ul>
    <li>ParkCode: @Model.ParkCode </li>
    <li>ParkName: @Model.ParkName  </li>
    <li>State: @Model.State </li>
    <li>Acreage: @Model.Acreage </li>
    <li>Elevation: @Model.Elevation </li>
    <li>Miles Of Trail: @Model.MilesOfTrail </li>
    <li>Number Of Campsites: @Model.NumberOfCampsites </li>
    <li>Climate: @Model.Climate </li>
    <li>Year Founded: @Model.YearFounded </li>
    <li>Annual Visitor Count: @Model.AnnualVisitorCount </li>
    <li>Inspirational Quote: @Model.InspirationalQuote </li>
    <li>Inspirational Quote Source: @Model.InspirationalQuoteSource </li>
    <li>Park Description: @Model.ParkDescription </li>
    <li>Entry Fee: @Model.EntryFee</li>
    <li>Number Of Animal Species: @Model.NumberOfAnimalSpecies </li>       
</ul>

