<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    @*<body id="bootstrap-override">*@
    @*<header class="headerclass"><img class="headerimg" src="~/Content/img/clipart/logo.png" /></header>*@

    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
    @*<div class="container">
        <div class="navbar-header">*@

    @*<a href="@Url.Action("Index", "Home")">Index</a>
                    <a href="@Url.Action("Survey", "Home")">Survey</a>
                    <a href="@Url.Action("SurveyResult", "Home")">Survey Results</a>
                 </div>
            </div>

        </div>


        <span> <span></span> <span></span>
        <div>*@

    <header class="header">
        <div class="header-img">
            <img src="~/Content/img/clipart/logo.png" alt="National Parks Logo" />
        </div>
    </header>
    <nav>
        <div class="centered-header">
            <span class="white-bg-header">Explore Your National Parks</span>
            <br />
            <span class="white-bg-body"> Use these state of the art web applications to learn more about your national parks! </span>
        </div>
        <br />
        <br />
        <div class="menu-bar-parent">
            <ul class="MenuBar">
                <a href="@Url.Action("Index","Home")" title="Go to parks">
                    <li class="list-item">View Nation Parks</li>
                </a>
                <a href="@Url.Action("Survey","Home")" title="Go to survey">
                    <li class="list-item">Vote for your Favorite Park</li>
                </a>
                <a href="@Url.Action("SurveyResult","Home")" title="Go to top park">
                    <li class="list-item">Most Popular Park</li>
                </a>
                @*<li class="list-item">@Html.ActionLink("Vote for your Favorite Park", "Survey", "Home")</li>
                <li class="list-item">@Html.ActionLink("Most Popular Park", "SurveyResult", "Home")</li>*@
                @*<li>@Html.ActionLink("Forum", "Submit", "ForumPost")</li>
                <li>@Html.ActionLink("Store", "Index", "ShoppingCart")</li>*@

            </ul>

        </div>
    </nav>



    <section class="centeredPanel">
        @RenderBody()
    </section>
    </div>
</body>
</html>


